@using EntityLayer.Concrete
@model List<AppUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="white_shd full margin_bottom_30 my-3">
    <div class="full graph_head">
        <div class="heading1 margin_0">
            <h2 class="text-center">Kullanıcılar</h2>
        </div>
    </div>
    <div class="table_section padding_infor_info">
        <div class="table-responsive-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Email</th>
                        <th>Kullanıcı Adı</th>
                        <th>Telefon</th>
                        <th>Güncelle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@item.UserName</td>
                            <td>@item.PhoneNumber</td>
                            <td>
                                <a href="/Admin/User/UserUpdate/@item.Id" class="btn cur-p btn-outline-success">
                                    Güncelle
                                </a>
                            </td>
                            <td>
                                <a href="/Admin/User/UserDelete/@item.Id" class="btn cur-p btn-outline-danger">
                                    Sil
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>